<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Guna.UI2.WinForms" version="2.0.2.3" targetFramework="net472" />
  <package id="MessageDialog" version="1.0.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.3.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.3.0.44" targetFramework="net472" />
  <package id="VPKSoft.MessageBoxExtended" version="1.0.8" targetFramework="net472" />
  <package id="VtlMb" version="1.0.0" targetFramework="net472" />
  <package id="WinForms.MessageBoxes" version="1.0.1" targetFramework="net472" />
</packages>